@model IEnumerable<GolfStats.Models.TScore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hole1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hole18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hole1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hole18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
